p { color: blue; }

.education {
    padding: 20px;
    background-color: #f2f2f2;
}


body.dark-theme {
    background-color: #1a1a1a;
    color: white;
}

.container.dark-theme {
    background-color: #333;
}